<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Records index page</h1>
        <nav>
            <a href="/records/new">Create a New Record</a>
        </nav>
        <ul>
            <% for(let i=0; i < records.length; i++) { %>
                <li>
                    <a href="/records/<%=records[i].id%>"> <%=records[i].title %></a>
                    <a> <%=records[i].artist %></a>

                    <form action="/records/<%=i%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" />
                    </form>

                    <a href="/records/<%=records[i].id%>/edit">EDIT</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>