<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/users.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome <%=user.name%></h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value=<%=user.name%> /><br> <br>
        Username: <input type="text" name="username" value=<%=user.username%> /> <br> <br>
        Password: <input type="text" name="password" value=<%=user.password%> /><br> <br>  

        
        <input type="submit" value="Edit Profile" />
    </form>
    <br>
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
        Add a record to your collection. <br>
        <select name="recordId">
            <% for (let i = 0; i < records.length; i++)  {
                let selected = (i == 0) ? "selected": "" ;
            %> 
                <option value="<%= records[i].id %>" <%= selected %>>
                    <%= records[i].title %> 
                    
                </option>
            <% } %>
        </select>
        <input type="submit" value="Add record" />
    </form>
    <br>
    Remove a Record from your collection.
    <form action="/users/profile/<%=user.id%>?_method=DELETE" method="POST">
        <select name="removeRecId">
            <% for (let i = 0; i < user.Records.length; i++)  {
                let selected = (i == 0) ? "selected": "" ;
            %> 
                <option value="<%= user.Records[i].id %>" <%= selected %>>
                    <%= user.Records[i].title %> 
                    
                </option>
            <% } %>
        </select>
        <input type="submit" value="Remove record" />
    </form>
    <br>
    <h3>You have these records</h3>
    <ul>
        <% for (let i=0; i< user.Records.length; i++) { %>
            <li>
                <%= user.Records[i].title%>
                
            </li>
            <br>
            <% } %>
    </ul>
    <br>
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete User" />
    </form>

    <br><br>
    <a href="/records">View All Records</a>
</body>
</html>